body {
  font-size: 22px;
  font-family: Arial, san-serif;
  line-height: 1.5rem;
}

body>div {
}

.book-submission-form input[type="text"],
.book-submission-form input[type="tel"] {
  height: 1.5rem;
  width: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

.readOrNotLabel {
  display: block;
  width: 3rem;
}

.new-book-button {
  height: 1.8rem;
}

.submit-form {
  margin: 20px;
  display: none;
  width: min(350px, 75vw);
}

.readOrNotFieldset {
  border: none;
}
.formFieldset {
  border-radius: 2%;
} 

ul {
  margin: 0;
  list-style-type: none;
}

li {
  display: flex;
}

.books-container {
  display: grid;
  border: 1px solid black;
  margin: 20px;
  grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  background-color: lightgray;
  padding: 10px;
}

.books-container div {
  background-color: white;
  box-shadow: 1px 1px 5px gray;
  display: grid;
  grid-template-rows: repeat(4, min(50px, 25vh));
  padding: 10px;
}

.remove-button {
  width: 10rem;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid gray;
}

.read-button {
  border: 1px solid gray;
  border-radius: 3px;
  width: 10rem;
  font-size: 1rem;

}
